<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Swashbuckle.*" />
      <package pattern="Swashbuckle.AspNetCore" />
      <package pattern="MSTest.*" />
      <package pattern="coverlet.*" />
      <package pattern="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" />
      <package pattern="Microsoft.Testing.Extensions.VSTestBridge" />
      <package pattern="Microsoft.Extensions.ApiDescription.Server" />
      <package pattern="Microsoft.Testing.Platform.MSBuild" />
      <package pattern="Microsoft.OpenApi" />
      <package pattern="Microsoft.Testing.Extensions.Telemetry" />
      <package pattern="Microsoft.Testing.Extensions.TrxReport.Abstractions" />
      <package pattern="Microsoft.Testing.Platform" />
      <package pattern="Microsoft.TestPlatform.ObjectModel" />
      <package pattern="Microsoft.ApplicationInsights" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Cliffer" />
      <package pattern="Microsoft.TestPlatform.TestHost" />
      <package pattern="Microsoft.CodeCoverage" />
      <package pattern="Microsoft.Extensions.Configuration" />
      <package pattern="Microsoft.Extensions.Configuration.Abstractions" />
      <package pattern="Microsoft.Extensions.Configuration.Binder" />
      <package pattern="Microsoft.Extensions.Configuration.Json" />
      <package pattern="Microsoft.Extensions.DependencyInjection" />
      <package pattern="System.CommandLine" />
      <package pattern="System.CommandLine.NamingConventionBinder" />
      <package pattern="Microsoft.Extensions.Primitives" />
      <package pattern="Microsoft.Extensions.Configuration.FileExtensions" />
      <package pattern="Microsoft.Extensions.FileProviders.Abstractions" />
      <package pattern="System.Text.Json" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="System.Reflection.Metadata" />
      <package pattern="NuGet.Frameworks" />
      <package pattern="Microsoft.Extensions.FileProviders.Physical" />
      <package pattern="System.IO.Pipelines" />
      <package pattern="System.Text.Encodings.Web" />
      <package pattern="Microsoft.Extensions.FileSystemGlobbing" />
      <package pattern="Microsoft.Data.Sqlite" />
      <package pattern="Microsoft.TestPlatform.AdapterUtilities" />
      <package pattern="System.Diagnostics.DiagnosticSource" />
    </packageSource>
  </packageSourceMapping>
</configuration>
