<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Swashbuckle.*" />
      <package pattern="Swashbuckle.AspNetCore" />
      <package pattern="MSTest.*" />
      <package pattern="coverlet.*" />
      <package pattern="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" />
      <package pattern="Microsoft.Testing.Extensions.VSTestBridge" />
      <package pattern="Microsoft.Extensions.ApiDescription.Server" />
      <package pattern="Microsoft.Testing.Platform.MSBuild" />
      <package pattern="Microsoft.OpenApi" />
      <package pattern="Microsoft.Testing.Extensions.Telemetry" />
      <package pattern="Microsoft.Testing.Extensions.TrxReport.Abstractions" />
      <package pattern="Microsoft.Testing.Platform" />
      <package pattern="Microsoft.TestPlatform.ObjectModel" />
      <package pattern="Microsoft.ApplicationInsights" />
      <!-- Add other patterns as needed -->
    </packageSource>
  </packageSourceMapping>
</configuration>
